
@{
    ViewBag.Title = "Harvest Authentication - PWG Telegram Bot";
}

<h2>Harvest Authentication</h2>

<p>Authentication successful, please send the following message to the Telegram Bot:</p>
<br/>
<br/>
<hr/>
<p><h4>/authenticateharvest @Model</h4></p>
<hr/>
<br/>
<br/>
