<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PivotalTrackerApiToken" value=""/>
	<add key="HarvestUsername" value=""/>
	<add key="HarvestPassword" value=""/>
	<add key="HarvestAccountName" value=""/>
	<add key="TelegramBotToken" value=""/>
</appSettings>